header {
	background-color: rgba(236, 236, 236, 0.53);
}

#home, #blog, #content {
	height: 770px;
	padding: 150px;
}
#about {
  height: 770px;
  padding: 150px;
}
.about-content-title {
  font-size: 80px;
  color: #3533331a;
}

#services {
  height: 900px;
  padding: 120px;
}

#works {
  height: 1000px;
  padding: 120px;
}

.work-section-2 ul {
  list-style: none;
  line-height: 50px;
}

.work-section-2 ul li {
  margin-left: -30px;
}


#shop {
  height: 1000px;
  padding: 120px;
}


/* --------------
   Media Queries
  --------------- */
/* Mobile Devices */
@media only screen and (max-width: 668px) {


  #home{
    margin-left: -145px;
    height: 700px;
    background-color: rgb(71, 238, 112);
  }

  #home .container {
    width: 366px;
    background-color: rgb(255, 242, 127);
    padding: 20px;
  }

  #home h1, #works h1, #shop h1, #blog h1, #content h1 {
    font-size: 25px;
  }

  #about {
    margin-left: -145px;
    height: 1200px;
    background-color: rgb(41, 206, 82);
  }

  #about .container {
    width: 366px;
    background-color: rgb(255, 242, 127);
    padding: 20px;
  }

  #services {
    margin-left: -145px;
    height: 2000px;
    padding: 150px;
    background-color: rgb(104, 41, 206);
  }

  
  #services .container {
    width: 366px;
    background-color: rgb(255, 242, 127);
    padding: 20px;
  }

  #works {
    background-color: #f05454;
    margin-left: -116px;
    height: 2000px;
  }
  #works .container {
    width: 366px;
    background-color: rgb(255, 242, 127);
    padding: 20px;
  }

  .work-section-2 {
    padding-top: 50px;
  }

  #shop {
    height: 1500px;
    padding: 120px;
  }
}
