header {
	background-color: rgba(236, 236, 236, 0.53);
}

#home, #blog, #content {
	height: 770px;
	padding: 150px;
}
#about {
  height: 770px;
  padding: 150px;
}
.about-content-title {
  font-size: 80px;
  color: #3533331a;
}

#services {
  height: 1200px;
  padding: 120px;
}

#works {
  height: 1000px;
  padding: 120px;
}

.work-section-2 ul {
  list-style: none;
  line-height: 50px;
}

.work-section-2 ul li {
  margin-left: -30px;
}

.rating button svg {
	position: relative;
	top: -2px;
}


#shop {
  height: 1000px;
  padding: 120px;
}


/* --------------
   Media Queries
  --------------- */
/* Mobile Devices */
@media only screen and (max-width: 668px) {

  #home, #about, #services, #works, #shop, #blog, #content {
    margin-left: -135px;
    width: 185%;
  }

  #home h1, #works h1, #shop h1, #blog h1, #content h1 {
    font-size: 25px;
  }

  #about {
    height: 1500px;
  }

  #services {
    height: 3000px;
    padding: 150px;
  }

  #works {
    height: 2000px;
  }
  .work-section-2 {
    padding-top: 50px;
  }

  #shop {
    height: 1500px;
    padding: 120px;
  }
}
