header {
	background-color: rgba(236, 236, 236, 0.658);
}
/* ============= HOME ============= */
#home {
	height: 770px;
  padding: 150px;
  background-color: #f05454;
}

/* ============= ABOUT ============= */
#about {
	height: 770px;
  padding: 150px;
  background-color: #54e6f0;
}
.about-content-title {
  font-size: 80px;
  color: #3533331a;
}

/* ============= SERVICES ============= */
#services {
  height: 1000px;
  padding: 150px;
  background-color: #54f061;
}


/* ============= WORKS ============= */
#works {
  height: 1000px;
  padding: 150px;
  background-color: #8dbfc5;
}

.work-section-2 ul {
  list-style: none;
  line-height: 35px;
}

.work-section-2 ul li {
  margin-left: -30px;
}

/* ============= SHOP ============= */
#shop {
  height: 1000px;
  padding: 150px;
  background-color: #c58db9;
}
.client-reviews, .latest-posts{
  text-align: center;
}

.quote-left, .quote-right {
  font-size: 33px;
}

.shop-button {
	position: absolute;
	top: 245px;
	left: 85px;
}
.quote-right {
	position: relative;
	left: 200px;
}
.arrow-left, .arrow-right {
	text-align: center;
}

/* ============= BLOG ============= */
#blog {
  height: 1000px;
  padding: 150px;
  background-color: #6d8aeb;
}


/* ============= CONTENT ============= */
#content {
  height: 1000px;
  padding: 150px;
  background-color: #576eec;
}


/* --------------
   Media Queries
  --------------- */
/* Mobile Devices */
@media only screen and (max-width: 640px) {
  #home{
    height: 896px;
    background-color: #f05454;
    padding: 100px 0 0 0;
  }
  #home .container {
    background-color: rgb(255, 242, 127);
    padding: 20px;
  }
  #home h1, #works h1, #shop h1, #blog h1, #content h1 {
    font-size: 25px;
  }

  #about {
    height: 1200px;
    background-color: #54e6f0;
    padding: 100px 0 0 0;
  }
  #about .container {
    background-color: rgb(255, 242, 127);
    padding: 20px;
  }

  #services {
    height: 2000px;
    padding: 100px 0 0 0;
    background-color: #54f061;
  }
  #services .container {
    background-color: rgb(255, 242, 127);
    padding: 20px;
  }

  #works {
    background-color: #8dbfc5;
    height: 2000px;
    padding: 100px 0 0 0;
  }
  #works .container {
    background-color: rgb(255, 242, 127);
    padding: 20px;
  }
  .work-section-2 {
    padding-top: 50px;
  }

  #shop {
    background-color: #c58db9;
    height: 2200px;
    padding: 100px 0 0 0;
  }
  #shop .container {
    background-color: rgb(255, 242, 127);
    padding: 20px 20px 100px 20px;
  }
  .shop-button {
    position: absolute;
    top: 247px;
    left: 90px;
  }
  .quote-right {
    position: relative;
    left: 200px;
  }
  .arrow-left{
    position: relative;
    top: 750px;
    left: 100px;
  }
  .arrow-right{
    position: relative;
    top: 750px;
    left: -170px;
  }

  #blog {
    background-color: #6d8aeb;
    height: 2400px;
    padding: 100px 0 0 0;
  }
  #blog .container {
    background-color: rgb(255, 242, 127);
    padding: 20px;
  }

  #content {
    height: 1200px;
    padding: 100px 0 0 0;
    background-color: #576eec;
  }
}
